@import url("https://fonts.googleapis.com/css?family=Anton|PT+Sans+Narrow");
body {
  margin: 0;
  border: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.type {
  text-transform: lowercase;
}

.value {
  color: #E3E3E3;
  font-weight: bold;
}

#app {
  font-family: "PT Sans Narrow", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: #575757;
  background: #E3E3E3;
}

#table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

#table .column {
  margin-left: 20px;
}

#table .column:first-of-type {
  margin-left: 0;
}

#table .month {
  border-bottom: solid 2px;
}

#table .spendings {
  max-height: 500px;
  overflow-y: auto;
}

#stats {
  padding: 20px;
  background: #2b2832;
  color: #B0B0B0;
}

#stats .value {
  color: #E3E3E3;
}

.budgetExceeded {
  color: #CE1C1C;
  font-weight: bold;
}

.spendingsPerMonth {
  margin-top: 20px;
}

.spendingsPerMonthPerType {
  margin-top: 20px;
}

label {
  margin-right: 20px;
}
